
<% @passengers.each_with_index do |passenger, index| %>
  <div><strong>Passenger <%= :index %></strong></div>
  <div>Name: <%= passenger.name %></div>
  <div>Email: <%= passenger.email %></div>
<% end %>
